<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8" /> 
<title>Student CRUD App</title> 
<link rel="stylesheet" href="/styles.css" /> 
 </head> 

<body> 
<h1 data-position="header">CRUD app developed using NodeJs, Express, MongoDB and EJS.</h1>   
<section data-position="add-student"> 
<h2>Add Student</h2> 
<form action="/students" method="POST"> 
<input type="text" placeholder="name" name="name" /> 
<input type="text" placeholder="student" name="student" /> 
<button type="submit">Add student</button> 
  </form> 
   </section> 
<section data-position="update-student"> 
<div> 
<h2>Update Student</h2> 
<p> 
Replace first student with any student choosen by MongoDB 
      </p> 
<button id="update-button">Replace student</button> 
</div> 
  </section> 

<section data-position="delete-student"> 
<div> 
<h2>Delete Student</h2> 
<p> 
Delete on student. Do nothing if there are no students         </p> 
<button id="delete-button">Delete student</button> 
</div> 
<div id="message"></div> 
   </section> 
  <section data-position="students">   <h2>Students</h2> 
<ul class="students"> 
<% for(var i = 0; i < students.length; i++) {%> 
<li class="student"> 
<span><%= students[i].name %></span>: 
<span><%= students[i].student %></span> 
</li> 
<% } %> 
</ul> 
   </section> 
 
<script src="/main.js"></script> 
</body> 
</html> 
